.notFoundContainer{
    padding: 130px 0;
    align-items: center;
    min-height: 70vh;
}

.notFoundMessage h2{
    margin-bottom: 50px;
    font-size: 25px;
    letter-spacing: 5px;
    line-height: 35px;
}

a{
    color: black;
    font-size: 18px;
}

